  /*************/
 /* Reset CSS */
/*************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

  /****************/
 /* Basic Styles */
/****************/

html, body {
	height: 100%;
}

body {
	background: #222;
	font-family: 'Nunito', 'Arial Rounded', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	color:#fff; /* Fallback */
	color:rgba(255,255,255,0.85);
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

header {
	width: 100%;
	text-align: center;
	margin-bottom: 6em; /* Same as #content margins */
	color: #fff;
}

	header h1 {
		font-size: 6em;
	}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
	height: 120px;
	clear: both;
}

#content {
	margin: 6em 0;
}

p, ol {
	line-height: 1.75em;
}

a {
	color: #fff;
	font-weight: 700;
}

nav {
	width: 320px;
	margin: 20px auto;
	padding: 0 20px;
	font-weight: 700;
	font-size: 1.1em;
}

	nav ul {
		display: block;
		clear: both;
	}

	nav ul li {
		float: left;
		min-width: 92px;
	}

		nav ul li a {
			display: block;
			text-align: center;
			width: 92px;
			border-radius: 4px;
			line-height: 30px;
			padding:6px 0 4px 0;
			opacity: 0.8;
			height: 40px;
			transition: 0.3s cubic-bezier(.8,-1.5,.2,2);
			-o-transition: 0.3s cubic-bezier(.8,-1,.2,2);
			-moz-transition: 0.3s cubic-bezier(.8,-1,.2,2);
			-webkit-transition: 0.3s cubic-bezier(.8,-1,.2,2);
		}

			nav ul li a:hover {
				opacity: 1;
			}

	nav ul li.current a {
		font-size: 1.2em;
		width: 96px;
		opacity: 1;
		color: #fff !important;
	}

	nav ul li.prev a, nav ul li.next a {
		color: #333;
		text-shadow: none;
	}

		nav ul li.prev a:hover, nav ul li.next a:hover {
			width:108px;
		}

	nav ul li.prev a {
		background:url(http://wintermix.kyledecker.me/img/arrow-l.png) no-repeat left center;
		padding-left:6px;
	}

		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			nav ul li.prev a {
				background:url(http://wintermix.kyledecker.me/img/arrow-l@2x.png) no-repeat left center;
			}
		}

		nav ul li.prev a:hover {
			margin-left:-16px;
		}

	nav ul li.next a {
		background:url(http://wintermix.kyledecker.me/img/arrow-r.png) no-repeat right center;
		padding-right:6px;
	}

		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			nav ul li.prev a {
				background:url(http://wintermix.kyledecker.me/img/arrow-r@2x.png) no-repeat right center;
			}
		}

		nav ul li.next a:hover {
			margin-right:-16px;
		}

	nav ul li a.disabled, nav ul li a.disabled:hover {
		opacity: 0.3;
		pointer-events: none;
		cursor: default;
	}

#footer {
	background:rgba(0,0,0,0.3);
	width:100%;
	text-align:center;
	padding:2em;
}

  /***********************/
 /* Custom Page Designs */
/***********************/

/* 2013
/* Primary Color: #DBC5B2
/* Secondary Color: #6D6258 */

	#y-2013 {
		background-color: ;
		background-image: url(http://wintermix.kyledecker.me/2013/bg-top.jpg);
	}
		#y-2013 header { font-family: 'Playfair Display'; font-weight:900; font-style:italic; }

/* 2012
/* Primary Color: #DBC5B2
/* Secondary Color: #6D6258 */

	#y-2012 {
		background-color: #DBC5B2;
		background-image: url(http://wintermix.kyledecker.me/2012/bg-top.jpg);
	}
		#y-2012 header { font-family: 'Oleo Script Swash Caps'; }
		#y-2012 nav ul li.prev a,
		#y-2012 nav ul li.next a { color: #6D6258; }

		@media all and (max-width: 1024px) {
			body#y-2012 {
				-webkit-background-size: 1024px;
				-moz-background-size: 1024px;
				-o-background-size: 1024px;
				background-size: 1024px;
			}
		}

/* 2011
/* Primary Color: #37BCAF
/* Secondary Color: #19786F */

	#y-2011 {
		background-color: #37BCAF;
		background-image: url(http://wintermix.kyledecker.me/2011/bg-top.jpg);
	}
		#y-2011 header { font-family: 'Quicksand'; font-weight:300; }
		#y-2011 nav ul li.prev a,
		#y-2011 nav ul li.next a { color: #19786F; }

		@media all and (max-width: 1186px) {
			body#y-2011 {
				-webkit-background-size: 1186px;
				-moz-background-size: 1186px;
				-o-background-size: 1186px;
				background-size: 1186px;
			}
		}

/* 2010
/* Primary Color: #383838
/* Secondary Color: # */

	#y-2010 {
		background-color: #383838;
		background-image: url(http://wintermix.kyledecker.me/2010/bg-top.jpg);
	}
		#y-2010 header { font-family: 'Abril Fatface'; }

/* 2009
/* Primary Color: #a5b167
/* Secondary Color: #737B48 */

	#y-2009 {
		background-color: #a5b167;
		background-image: url(http://wintermix.kyledecker.me/2009/bg-top.jpg);
	}
		#y-2009 header { font-family: 'Lemon'; }
		#y-2009 nav ul li.prev a,
		#y-2009 nav ul li.next a { color: #737B48; }

		@media all and (max-width: 1500px) {
			body#y-2009 {
				-webkit-background-size: 1500px;
				-moz-background-size: 1500px;
				-o-background-size: 1500px;
				background-size: 1500px;
			}
		}

  /*************/
 /* Tracklist */
/*************/

ol#tracklist {
	counter-reset: item;
}

	ol#tracklist li {
		padding-left: 3em;
		position: relative;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	ol#tracklist li:before {
		content: counter(item) " "; /* Numbers without periods */
        counter-increment: item;
        color: rgba(0,0,0,0.4);
        position: absolute;
        text-shadow: none;
        font-weight: 700;
        display: block;
        text-align: right;
        width: 2em;
        left: 0;
	}

  /****************/
 /* Audio Player */
/****************/

section#left, section#right {
	float:left;
	width:50%;
}

@media all and (max-width: 640px) {
	section#left, section#right {
		width:100%;
		float: none;
	}
}

#player, #tracklist {
	width:100%;
	padding: 10px;
	margin:0 auto;
}

#player {
	max-width: 320px;
}

#progressbar_container{
	width:100%;
	height:10px;
	border-radius:5px;
	cursor:pointer;
	margin: 1em auto;
	background: rgba(0,0,0,0.7);
	overflow:hidden;
	position: relative;
}
#progressbar{
	position: absolute;
	height: 100%;
	top:0;
	left:0;
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	z-index:10;
}
#controls{
	width:100%;
	padding:2em 30px;
	/* evenly spaced buttons*/
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
.ctrl_btn {
	color:#333;
	width: 56px; height: 56px;
	line-height: 56px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background: rgba(255,255,255,0.9);
	box-shadow: inset 0 0 0 4px #fff;
	border-radius: 35px;
	cursor:pointer;
	margin: 7px 0;
	transition: 0.3s cubic-bezier(.8,-1.5,.2,2);
	-o-transition: 0.3s cubic-bezier(.8,-1,.2,2);
	-moz-transition: 0.3s cubic-bezier(.8,-1,.2,2);
	-webkit-transition: 0.3s cubic-bezier(.8,-1,.2,2);
}
.ctrl_btn#play, .ctrl_btn#pause {
	width:70px; height:70px;
	line-height:70px;
	margin:0;
}
.ctrl_btn:hover {
	background:#fff;
}

#display{
	text-align: center;
}

#timer{
	padding: 0 4px;
}

#title{
	font-size:1.4em;
	color: #fff;
	text-overflow: ellipsis;
}
a#download {
	opacity:0.8;
	text-transform: uppercase;
	display:block;
	border:4px solid #fff;
	text-align: center;
	padding:.8em 0;
	box-shadow:0px 1px 2px rgba(0,0,0,0.1);
	border-radius:100px;
	font-size:1.3em;
	letter-spacing: 1px;
	width:300px;
	margin:10px auto;
	transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

	a#download:hover {
		opacity:1;
	}

  /************/
 /* Clearfix */
/************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}