/******************************
*
*  Winter Mix Stylesheet 
*
*  Author: Kyle Decker
*  Site: http://kyledecker.me
* 
******************************/

$spacing: 15px;

%fix-fatty-fonts {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 
// RESETS & BASIC STYLES
// 

html, body, ul, ol, li, p, form, fieldset, legend {
	margin: 0;
	padding: 0;
	@extend %fix-fatty-fonts;
}

// Display-role reset for older browsers
article, footer, header, nav, section, main {
	display: block;
}

// Natural box model
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1;
	background: #444;
	color: #fff; /* Fallback */
	color: rgba(255,255,255,0.85);
	font-weight: 300;
	font-size: 18px;
	font-family: 'Vollkorn', Georgia, Times, serif;
}

a {
	text-decoration: none;
	-webkit-transition: color linear .1s;
	transition: color linear .1s;
}

ol, ul { list-style: none; }

p {
	line-height: 1.5;
	margin-bottom: 0.8em;
}

ol {
	line-height: 1.3;
}

h1, h2, h3, h4 {
	font-weight: 400;
	margin: 0;
}

.wrapper { margin:0 auto; }

// 
// Welcome sidebar
//

.sidebar {
	background: #fff url(../img/mailstripe-v.png) repeat-y left center;
	background-size: 20px 80px;
	color: #5d6b73;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 450px;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
	padding: $spacing*2;
	padding-left: $spacing*2+20px;
	z-index: 5;
	a {
		color: #0066cc;
		border-bottom: 1px solid #cdd7dd;
		transition: border 0.2s ease;
		&:hover { border-bottom-color: #9eadb6; }
	}
}

.title {
	background: url(../img/squiggle.png) no-repeat bottom center;
	background-size: 180px 15px;
	font-size: 2em; // Same size as mix-title
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding: $spacing*2 0;
	margin-bottom: $spacing;
}

.about {
	padding-top: $spacing/2.5; // Same as .track-link
}

// 
// Mix slides
// 

.content {
	overflow: auto;
	width: auto;
	margin-left: 450px;
}

.mix {
	padding: $spacing*2;
	overflow:auto;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-transform: translate3D(0, 0, 0); // Force hardware acceleration to fix opacity transition flicker
}

.mix-header {
	margin: $spacing*2 0 $spacing*3 $spacing*3.8;
	a { color: #fff; }
	.dot {
		font-size: 1.5em;
		margin: 0 0.6em;
	}
}

.mix-title {
	position: relative;
	margin: 0;
	color: #fff;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline-block;
}

.mix-download {
	font-style: italic;
	font-size: 1.3em;
	border-bottom: 2px solid transparent;
	transition: border 0.2s ease;
	&:hover {
		border-bottom-color: #fff;
		border-bottom-color: rgba(255,255,255,0.7);
	}
}

#y-2014 {
	background-color: #73597e;
	background-image: url(../img/bg-2014.jpg);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

#y-2013 {
	background-color: #df766b;
	background-image: url(../img/bg-2013.jpg);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

#y-2012 {
	background-color: #DBC5B2;
	background-image: url(../img/bg-2012.jpg);
}

#y-2011 {
	background-color: #90a361;
	background-image: url(../img/bg-2011.jpg); 
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

#y-2010 {
	background-color: #b34f3b;
	background-image: url(../img/bg-2010.jpg);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1);
}

#y-2009 {
	background-color: #77b9d3;
	background-image: url(../img/bg-2009.jpg);
}

// 
// Tracklists
// 

.tracklist {
	font-size: 1.1em;
	margin-bottom: $spacing*2;
}

.track-link {
	color: #fff;
	display: block;
	padding: $spacing/2.5;
	border-radius: 5px;
	display: block;
	position: relative;
}

.track-number, .track-icon {
	position: absolute;
	width: $spacing*2.5;
	color: #fff;
	color: rgba(0,0,0,0.55);
	text-align: right;
}

.track-icon {
	background-color: rgba(0,0,0,0.2);
	background-image: url(../img/icon-play.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	border-radius: 2px;
	width: 34px;
	height: 34px;
	color: #fff;
	font-size: 0.9em;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: 12px;
	opacity: 0; // Hidden by default
}

.track:hover {
	cursor: pointer;
}

.sm2_playing, .sm2_paused, .track:hover {
	.track-icon { opacity: 1; }
	.track-number { opacity: 0; }
}

.track-text { margin-left: $spacing*3.5; }

.track-artist {
	font-size: 0.8em;
	color: rgba(0,0,0,0.55);
}

@keyframes happyMusic {
	0% { background-position: 50% 30%;  }
	50% { background-position: 50% 70%; }
	100% { background-position: 50% 30%; }
}

.sm2_playing {
	background: rgba(255,255,255,0.4);
	color: rgba(0,0,0,0.55);
	.track-icon {
		background-color: rgba(0,0,0,0.2);
		background-image: url(../img/icon-playing.png);
		animation: happyMusic 1.2s ease infinite;
		&:hover {
			background-image: url(../img/icon-pause.png);
			animation: none;
		}
	}
}

.sm2_paused {
	background: rgba(255,255,255,0.4);
	color: rgba(0,0,0,0.55);
	.track-icon {
		background-color: rgba(0,0,0,0.2);
		background-image: url(../img/icon-playing.png);
		&:hover { background-image: url(../img/icon-play.png); }
	}
}

//
// Responsive goodness
// 

@media all and (max-width: 960px) {
	body { font-size: 17px; }
	.sidebar { width: 360px; }
	.content { margin-left: 360px; }
}

@media all and (max-width: 800px) {
	body { font-size: 16px; }
	.wrapper { max-width: 500px; }

	.sidebar {
		background: #fff url(../img/mailstripe-h.png) repeat-x top center;
		background-size: 80px 20px;
		padding-left: $spacing*2;
		position: relative;
		width: auto;
	}

	.mix {
		padding: $spacing;
		.wrapper { max-width: 605px; }
	}

	.content { margin-left: 0; }
}

@media all and (max-width: 440px) {
	body { font-size: 15px; }
	.mix { padding: $spacing 0 $spacing/2 0; }
	.track-link { border-radius: 0; }	
}